@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');


.form_container{
    width: 30%;
}

@media screen and (max-width: 1000px) {
    
    .form_container{
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    
    .form_container{
        width: 65%;
    }
}

.logo-auth{ 
    width: 150px;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    
}

.btn-auth{
    background-color: #f38119;
}

p{
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}